* {
    margin: 5px;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#length-container {
    display: flex;
    flex-direction: row;
}

#break-control-container, #session-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#break-decrement, #break-increment, #session-decrement, #session-increment, #start_stop, #reset {
    cursor: pointer;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 146px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}