* {
    margin: 5px;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#length-container {
    display: flex;
    flex-direction: row;
}

#break-control-container, #session-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
}